body {
  background-image: linear-gradient(
    45deg,
    rgba(172, 3, 3, 0.76),
    rgba(197, 52, 7, 0.822)
  );
  color: rgb(255, 255, 255);
}

h2 {
  padding: 15px;
  margin: 0;
  background-image: linear-gradient(
    45deg,
    rgba(233, 230, 20, 0.801),
    rgba(182, 158, 23, 0.911)
  );
}

.border-guess {
  border: 10px solid rgba(4, 116, 221, 0.719);
  padding: 90px 0;
  margin: 0;
}

.border-option {
    padding: 20px 0;
    margin: 10px;
    border: 10px solid rgba(151, 19, 47, 0.842);
}


