body {
  background-color: #ffcb05;
  color: #003a70;
  font-family: "Balsamiq Sans", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  margin: 10px auto;
}

.border-guess,
.border-option {
  margin: 20px 20px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid #3d7dca;
}

.nav {
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid #3d7dca;
}

.nav a {
  font-size: 1.2em;
  margin: 0 auto;
}

.nav a i {
  display: block;
  text-align: center;
}

a:hover {
  color: #003a70;
  text-decoration: none;
  transform: translateY(-5px);
  transition: transform 150ms;
}

.about {
  margin: 50px;
  text-align: center;
}

.social-link {
  text-align: center;
}

.social-link a,
.social-link a i {
  display: inline-block;
  margin: 10px;
  font-size: 1.3rem;
}

.image {
  width: 50%;
  border-radius: 50px;
  background-color: rgba(235, 240, 168, 0.3);
}

p {
  font-size: 1.2rem;
  color: #003a70;
  padding: 10px;
}

#option1:hover,
#option2:hover {
  cursor: pointer;
  background-color: rgba(0, 183, 255, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
